@import '_defines/*'

// Project
@import '_style'

// Sustart自定义样式,对应./_sustart
@import '_sustart/*'   

// Custom Files
for $injects_style in hexo-config('injects.style')
  @import $injects_style;

#safearea{
  display: block
}
